{% block table %}
    <div class="row">
        <h2>{{ locale.table.title }}</h2>
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>{{ locale.table.id }}</th>
                <th>{{ locale.table.date }}</th>
                <th>{{ locale.table.value }}</th>
                <th>{{ locale.table.temp }}</th>
                <th>{{ locale.table.unix }}</th>
                <th>{{ locale.table.labview }}</th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
                <tr>
                    <td>{{ object.getId() }}</td>
                    <td>{{ object.getTimestamp() }}</td>
                    <td>{{ object.getValue() }}</td>
                    <td>{{ object.getTemp() }}</td>
                    <td>{{ object.dateToUnix(object.getTimestamp()) }}</td>
                    <td>{{ object.convertToLabView(object.dateToUnix(object.getTimestamp())) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="index.php?page=navigator" class="btn-outline-dark btn">Return to Navigator</a>
        <a href="#top" class="btn-outline-dark btn">Top of Page</a>
    </div>
{% endblock %}
