<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span class="sr-only"></span>
                    </a>
                </li>
                <!-- END -->
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>{{ locale.application }}</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                    </a>
                </h6>
                <li class="nav-item">
                    <a class="nav-link" href="index.php">
                        {{ locale.app.homepage }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=about">
                        {{ locale.app.about }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=settings">
                        {{ locale.app.settings }}
                    </a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>{{ locale.magnetometer.title }}</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                    </a>
                </h6>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=navigator">
                        {{ locale.magnetometer.navigateEntries }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=latest">
                        {{ locale.magnetometer.latestEntry }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=all">
                        {{ locale.magnetometer.displayAll }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
