{% extends "master.php.twig" %}
{% block phpincludes %}
{% endblock %}

{% block title %}{{ locale.graph.title }}{% endblock %}

{% block content %}
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">{{ locale.graph.title }}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        {% if objects is not empty %}
                            <a class="btn btn-sm btn-outline-secondary" target="_blank" href="{{ xmlApi }}">{{ locale.exportXML }}</a>
                            <a class="btn btn-sm btn-outline-secondary" target="_blank" href="{{ jsonApi }}">{{ locale.exportJSON }}</a>
                            <button name="btn-bar"
                                    class="btn btn-sm btn-outline-secondary"
                                    onclick="switchType('bar')">
                                {{ locale.graph.barView }}
                            </button>
                            <button name="btn-line"
                                    class="btn btn-sm btn-outline-secondary"
                                    onclick="switchType('line')">
                                {{ locale.graph.lineView }}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if objects is empty %}
                <p>{{ locale.errors.noDataSelected }}</p>
            {% else %}
                <canvas class="my-4" id="chart" width="900" height="380" style="display:none"></canvas>
                <noscript><div class="row alert alert-danger">{{ locale.errors.javascript }}</div></noscript>
                <script type="application/javascript">
                    document.getElementById('chart').style.removeProperty('display');
                </script>
                {% include 'partials/data.php.twig' %}
            {% if config.debug %}
            <hr>
                <h2>{{ locale.debugger.debugMode }}</h2>
                <p>{{ locale.debugger.debugInfo }}</p>
                <h3>{{ locale.debugger.parameterIds }}</h3>
                {{ entries | var_dump }}
            <hr>
                <h3>{{ locale.debugger.retrieved }}</h3>
                {{ objects | var_dump }}
            <hr>
                <h3>{{ locale.debugger.chartjs }}</h3>
                {{ json | var_dump }}
            {% endif %}
            {% endif %}
        </main>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'partials/chart.php.twig' %}
{% endblock %}
