{% block phpincludes %}{% endblock %}
<!DOCTYPE HTML>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ config.appDescription }}">
    <meta name="author" content="{{ config.appAuthor }}">
    {% include ('partials/includes.php.twig') %}
    <title>{% block title %}{% endblock %} - {{ config.appName }}</title>
</head>
<body>
{% include ('partials/topnav.php.twig') %}
<div class="container-fluid">
{% include ('partials/navigation.php.twig') %}
{% include ('partials/alert.php.twig') %}
    <script>alert('{{ errors | var_dump }}');</script>
{% block content %}
{% endblock %}
</div>
{% include ('partials/scripts.php.twig') %}
<!-- Optional Injections -->
{% block scripts %}{% endblock %}
</body>
</html>
