{% extends "master.php.twig" %}
{% block title %}{{ locale.magnetometer.navigateEntries }}{% endblock %}
{% block content %}
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">{{ locale.magnetometer.navigateEntries }}</h1>
                <p>{{ locale.magnetometer.description }}</p>
            </div>
        </main>
    </div>
    <div class="row">
        <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <noscript class="alert alert-danger">{{ locale.errors.javascript }}</noscript>
            <form id="navigator" class="form-control" action="index.php?page=graph" method="POST" style="display: none">
                <script type="application/javascript">
                    document.getElementById('navigator').style.removeProperty('display');
                </script>

                {# https://stackoverflow.com/questions/26302077/twig-how-to-loop-particular-number-of-times #}
                {% for i in range(0, (config.maxElements - 1)) %}
                    <div id="entry[{{ i }}]" class="">
                        <div class="form-group">
                            <label for="values[{{ i }}]">{{ locale.magnetometer.entry }} - {{ (i + 1) }}</label>
                            <select id="values[{{ i }}]" class="form-control">
                                {% for object in objects %}
                                <option value="{{ object.getId() }}">{{ object.getTimestamp() }}</option>
                                {% endfor %}
                            </select>
                            <button id="btn_delete[{{ i }}]" class="btn btn-danger btn-block" onclick="deleteEntry({{ i }})">{{ locale.deleteEntry }}</button>
                        </div>
                    </div>
                {% endfor %}
                <input type="hidden" name="number" id="number" value="{{ (config.maxElements - 1) }}">
                <input type="hidden" name="csrf_check" id="csrf_check" value="">

                <hr class="mb-4">
                <div class="btn-group form-inline">
                    <button class="btn btn-primary btn-dark" disabled>Add Magnetometer Entry</button>
                    <button class="btn btn-outline-dark" disabled>Add Radio Entry</button>
                    <button class="btn btn-outline-dark" disabled>Add ESA Entry</button>
                </div>
                <div class="btn-group form-inline">
                    <button class="btn btn-primary" name="graph" type="submit">Load Graphing Tool</button>
                    <button class="btn btn-primary" name="table" type="submit">Load Tables Only</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
